################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS210---Programming-Languages/FileContentIndex
/Module - 7/Project4/.vs/Project4/FileContentIndex
/.vs
/Module - 7/Project4/.vs/Project4/v17
